body{
	font-family: "Helvetica";
	height: 1900px;
}

/*.subheader{
	background-color: blue;
	height: 40px;
	color: white;
	padding-top: 10px;
	text-align: center;
}*/

header{
/*	position: sticky;*/
	position: fixed;
	width: 100%;
	top: 0;
	border: 1px solid red;
	height: 80px;
	padding-top: 20px;
	background-color: lightblue;
	z-index: 100;
}

.logo{
	font-size: 28px;
	margin-left: 50px;
}

nav {
	display: inline-block;
	margin-left: 200px;
}

li{
	display: inline-block;
	font-size: 24px;
	padding-left: 30px;
}

.text1{
	width: 120px;
	height: 300px;
	background-color: red;
}

.message-icon{
	position: fixed;
	right: 30px;
	bottom: 40px;
	width: 80px;
	z-index: 10;
}

/* z-index */
.main-box {
	margin-top: 300px;
	width: 500px;
	height: 400px;
	background-color: yellow;
	position: relative;
}

.box1, .box2, .box3{
	width: 110px;
	height: 110px;
	position: absolute;
}

.box1{
	background-color: red;
	top: 20px;
	left: 20px;
	z-index: 5;
}


.box2{
	background-color: blue;
	top: 50px;
	left: 50px;
	z-index: 6;
}


.box3{
	background-color: green;
	top: 90px;
	left: 90px;
	z-index: 20;
}




/* Relative & Absolute */
.wrapper{
	margin-top: 200px;
	position: relative;
	display: inline-block;
}

.wrapper img{
	width: 1600px;
	height: 900px;
}

.title{
	font-size: 48px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: white;
	font-weight: 700;
}